@model MVCPagination.Models.IndexViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Pagination Example</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-md-9 col-md-offset-3">
            <h1>Pagination Example</h1>

            <!-- items being paged -->
            <ul>
                @foreach (var item in Model.Items)
                {
                    <li>@item</li>
                }
            </ul>

            <!-- pager -->
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/Pagination/Index">First</a>
                        </li>
                        <li>
                            <a href="~/Pagination/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a href="~/Pagination/Index?page=@page">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/Pagination/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="~/Pagination/Index?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
    <hr />
</body>
</html>

